.content-text-redactor{
  margin-bottom: 6px;
}
.content-text-redactor .contrel-text{
  font-size: 14px;
  line-height: 18px;
}
.block-tex-title h1.tit_elm{
  margin-top: 0px;
  margin-bottom: 20px;
}
  .block-tex-title h2.tit_elm{
  margin-top: 55px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}
#mainH1.tit_elm{
  font-size: 20px;
  line-height: 25px;
}
.tit_elm span{
  margin-bottom: 20px;
}
.ul-wrap.croce li:before{
  margin: 0;
  left: -6px;
}
.ul-wrap.croce li{
  margin-left: 7px;
}
.ul-wrap.check-list li:before{
  margin: 0;
  left: -6px;
}
.ul-wrap.check-list li{
  margin-left: 7px;
}
.ul-wrap ul{
  font-size: 14px;
  line-height: 20px;
}
.bt-sg .innertText{
  font-size: 14px;
  line-height: 18px;
}
.est-text.innertText{
  font-size: 14px;
  line-height: 18px;
}