.labelRadio {
  padding-left: 0px;
  position: relative;
  margin-right: 5px;
}

.labelRadio:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 0;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #00a6ca;
}

.labelRadio input[type="radio"] {
  opacity: 0;
  visibility: none;
  width: inherit;
  width: 20px;
  height: 20px;
}
.labelRadio.chek:before {
  border: 4px solid #00a6ca;
}
.veiw-alter .for-block {
  margin-bottom: 10px;
  display: flex;
}
.wilder {
}
label[for="input-param-gen"] span {
  color: #00a6ca;
}
.veiw-alter .wilder {
  float: left;
  text-align: right;
  width: 65%;
  display: flex;
  align-items: start;
  justify-content: center;
  height: auto;
  flex-flow: column;
  margin-top: 0px;
  margin-left: 10px;
}
.veiw-alter .wilder1 {
  float: left;
  text-align: right;
  width: 30%;
  margin-right: 10px;
  display: flex;
  justify-content: end;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.veiw-alter .wilder1 {
  flex-direction: column;
}
.wilder1 .sub {
  margin-bottom: 10px;
}
.wilder1 .sub,
.wilder1 .sub p {
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 18px !important;
}
.wilder1 label {
  font-size: 18px;
  font-weight: 500 !important;
  line-height: 23px;
  margin-bottom: 10px !important;
}
.veiw-alter .wilder1 label {
  width: 100%;
}
.veiw-alter .labelChekbox {
  margin-bottom: 5px;
}

.labelChekbox input[type="checkbox"] {
  width: inherit;
}
.labelChekbox {
  position: relative;
}
.labelChekbox:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 0;
  border-radius: 2%;
  position: absolute;
  border: 1px solid #00a6ca;
}

.labelChekbox input[type="checkbox"] {
  opacity: 0;
  visibility: none;
  width: inherit;
  width: 20px;
  height: 20px;
}
.labelChekbox.chek:before {
  background-color: #00a6ca;
  background-image: url("/img/verefied.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.send-form-page {
  background-color: rgba(0, 166, 202, 1);
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 20px;
  width: 323px;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 3px;
}
#form-end-page p {
  font-size: 12px !important;
  line-height: 16px !important;
  margin-top: 15px;
  width: 450px;
}
.wilder input[type="text"].chek {
  border: 2px solid rgba(0, 166, 202, 1);
}
.wilder input[type="text"] {
  border: 2px solid #ced4da;
}
@media screen and (max-width: 1440px) {
  .wilder1 label {
    font-size: 15px;
  }
  .wilder1 label,
  .wilder label {
    font-size: 15px;
  }
  .for-block .wilder1 .sub,
  .for-block .wilder1 .sub p {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1280px) {
  .wilder1 label,
  .wilder label {
    font-size: 13px;
  }
  .for-block .wilder1 .sub,
  .for-block .wilder1 .sub p {
    font-size: 11px !important;
    line-height: 14px !important;
  }
  .send-form-page {
    background-color: rgba(0, 166, 202, 1);
    font-size: 15px !important;
    font-weight: 500 !important;
    width: 230px;
    padding: 10px;
    margin-bottom: 10px;
  }
}
