@font-face {
  font-family: "Stem";
  src: url("/fonts/Stem-Medium.eot");
  src: local("Stem"),
    url("../fonts/Stem-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Stem-Medium.woff") format("woff"),
    url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stem";
  src: url("/fonts/Stem-Light.eot");
  src: local("Stem"),
    url("../fonts/Stem-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Stem-Light.woff") format("woff"),
    url("../fonts/Stem-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stem";
  src: url("/fonts/Stem-Regular.eot");
  src: local("Stem"),
    url("../fonts/Stem-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Stem-Regular.woff") format("woff"),
    url("../fonts/Stem-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
